h2 {
    padding-left: 18px;
    border-left: rgb(22, 176, 0) 8px solid;
}

.message {
	padding-left: 30px;
	font-size: 14px;
}

small {
	color: #aaa;
}

.wrapper .audiowide {
	font-style: italic;
	margin-bottom: 25px;
}

.about-contents {
	padding-left: 20px;
}

.browser-icon {
	position: relative;
	display: inline-block;
	background-size: 50px 50px;
	background-position: left;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin-right: 30px;
	margin-top: 5px;
}

.browser-icon.chrome {
	background-image: url(/assets/img/browser-icon/chrome.png);
}

.browser-icon.opera {
	background-image: url(/assets/img/browser-icon/opera.png);
}

.browser-icon.firefox {
	background-image: url(/assets/img/browser-icon/firefox.png);
}

.hero-unit {
	padding-top: 50px;
}