h1 {
	margin: 0.8em 0 0.5em 0.5em;
	font-family:'Courier', cursive;
}

#statusBox {
	position: absolute;
	width: 550px;
	height:	200px;
	bottom: 10%;
	right: 50%;
	margin-right: -275px;
	border-radius: 6px;
	color: rgb(23, 186, 0);
	border: 1px solid rgba(0, 0, 0, 0);
	z-index: 1001;

	-webkit-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3);
}
/* 白いステボの設定 */
#statusBox.white {
	/**
	color: rgb(0, 0, 255);
	/**/
	color: #00f;
}

#statusBox.white:hover {
	border: 1px solid rgba(0, 0, 255, 0.7);
}

#statusBox:hover {
	border: 1px solid rgba(23, 186, 0, 0.8);
}

/* キーボード非表示時の挙動 */
#statusBox.none {
	height: 0px;
	bottom: 3%;
	border: none;
}
#statusBox.none:hover {
	border: none;
}
#statusBox.none #statusBar {
	border: 1px solid rgba(0, 0, 0, 0);
}
#statusBox.none #keyboard {
	display: none;
}




#statusBar {
	position: absolute;
	left: 100px;
	width: 350px;
	text-align: center;
}

#combo, #miss-flash {
	opacity: 0.8;
	color: #fff;
	
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

/* 3Dアクセラレーションを有効にするため */
#statusBox* {
}
/**/

#combo {
	font-size: 43px;
	margin-top: -60px;
	/**
	font-size: 2.4em;
	/**/
	/**
    -webkit-animation: combo 0.6s cubic-bezier(0.02,-0.55,0,.11) 0s 1 alternate;
    -moz-animation: combo 0.6s cubic-bezier(0.02,-0.55,0,.11) 0s 1 alternate;
    -ms-animation: combo 0.6s cubic-bezier(0.02,-0.55,0,.11) 0s 1 alternate;
    -o-animation: combo 0.6s cubic-bezier(0.02,-0.55,0,.11) 0s 1 alternate;
    animation: combo 0.6s cubic-bezier(0.02,-0.55,0,.11) 0s 1 alternate;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*/
}

/**
@-webkit-keyframes combo {
	100% {opacity: 0; margin-top: -75px;}
}
@-moz-keyframes combo {
	100% {opacity: 0; margin-top: -75px;}
}
@-ms-keyframes combo {
	100% {opacity: 0; margin-top: -75px;}
}
@-o-keyframes combo {
	100% {opacity: 0; margin-top: -75px;}
}
@keyframes combo {
	100% {opacity: 0; margin-top: -75px;}
}
/**/

#miss-flash {
	font-size: 40px;
	margin-top: -55px;
	color: rgba(255, 0, 0, 0.7);
	letter-spacing: 0.1em;
    text-shadow: 2px -2px 20px rgb(254, 0, 0);

    -webkit-animation: miss 1.4s cubic-bezier(0.03,-0.7,0,.11) 0s 1 alternate;
    -moz-animation: miss 1.4s cubic-bezier(0.03,-0.7,0,.11) 0s 1 alternate;
    -ms-animation: miss 1.4s cubic-bezier(0.03,-0.7,0,.11) 0s 1 alternate;
    -o-animation: miss 1.4s cubic-bezier(0.03,-0.7,0,.11) 0s 1 alternate;
    animation: miss 1.4s cubic-bezier(0.03,-0.7,0,.11) 0s 1 alternate;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.white #miss-flash {
	text-shadow: none;
}

@-webkit-keyframes miss {
	  0% {color: rgb(254, 0, 0);}
	  2% {color: rgb(254, 0, 0);}
	  2% {color: #fff;}
	  4% {color: #fff;}
	  4% {color: rgb(254, 0, 0);}
	  6% {color: rgb(254, 0, 0);}
	  6% {color: #fff;}
	  8% {color: #fff;}
	  8% {color: rgb(254, 0, 0);}
	 10% {color: rgb(254, 0, 0);}
	 10% {color: #fff;}
	 12% {color: #fff;}
	 12% {color: rgb(254, 0, 0);}
	 14% {color: rgb(254, 0, 0);}
	 14% {color: #fff;}
	 16% {color: #fff;}
	 16% {color: rgb(254, 0, 0);}
	 20% {color: rgba(255, 0, 0, 0.9);}
	 55% {opacity: 1;}
	100% {color: rgba(255, 255, 255, 0.8);opacity: 0;margin-top: -65px;}
}
@-moz-keyframes miss {
	  0% {color: rgb(254, 0, 0);}
	  2% {color: rgb(254, 0, 0);}
	  2% {color: #fff;}
	  4% {color: #fff;}
	  4% {color: rgb(254, 0, 0);}
	  6% {color: rgb(254, 0, 0);}
	  6% {color: #fff;}
	  8% {color: #fff;}
	  8% {color: rgb(254, 0, 0);}
	 10% {color: rgb(254, 0, 0);}
	 10% {color: #fff;}
	 12% {color: #fff;}
	 12% {color: rgb(254, 0, 0);}
	 14% {color: rgb(254, 0, 0);}
	 14% {color: #fff;}
	 16% {color: #fff;}
	 16% {color: rgb(254, 0, 0);}
	 20% {color: rgba(255, 0, 0, 0.9);}
	 55% {opacity: 1;}
	100% {color: rgba(255, 255, 255, 0.8);opacity: 0;margin-top: -65px;}
}
@-ms-keyframes miss {
	  0% {color: rgb(254, 0, 0);}
	  2% {color: rgb(254, 0, 0);}
	  2% {color: #fff;}
	  4% {color: #fff;}
	  4% {color: rgb(254, 0, 0);}
	  6% {color: rgb(254, 0, 0);}
	  6% {color: #fff;}
	  8% {color: #fff;}
	  8% {color: rgb(254, 0, 0);}
	 10% {color: rgb(254, 0, 0);}
	 10% {color: #fff;}
	 12% {color: #fff;}
	 12% {color: rgb(254, 0, 0);}
	 14% {color: rgb(254, 0, 0);}
	 14% {color: #fff;}
	 16% {color: #fff;}
	 16% {color: rgb(254, 0, 0);}
	 20% {color: rgba(255, 0, 0, 0.9);}
	 55% {opacity: 1;}
	100% {color: rgba(255, 255, 255, 0.8);opacity: 0;margin-top: -65px;}
}
@-o-keyframes miss {
	  0% {color: rgb(254, 0, 0);}
	  2% {color: rgb(254, 0, 0);}
	  2% {color: #fff;}
	  4% {color: #fff;}
	  4% {color: rgb(254, 0, 0);}
	  6% {color: rgb(254, 0, 0);}
	  6% {color: #fff;}
	  8% {color: #fff;}
	  8% {color: rgb(254, 0, 0);}
	 10% {color: rgb(254, 0, 0);}
	 10% {color: #fff;}
	 12% {color: #fff;}
	 12% {color: rgb(254, 0, 0);}
	 14% {color: rgb(254, 0, 0);}
	 14% {color: #fff;}
	 16% {color: #fff;}
	 16% {color: rgb(254, 0, 0);}
	 20% {color: rgba(255, 0, 0, 0.9);}
	 55% {opacity: 1;}
	100% {color: rgba(255, 255, 255, 0.8);opacity: 0;margin-top: -65px;}
}
@keyframes miss {
	  0% {color: rgb(254, 0, 0);}
	  2% {color: rgb(254, 0, 0);}
	  2% {color: #fff;}
	  4% {color: #fff;}
	  4% {color: rgb(254, 0, 0);}
	  6% {color: rgb(254, 0, 0);}
	  6% {color: #fff;}
	  8% {color: #fff;}
	  8% {color: rgb(254, 0, 0);}
	 10% {color: rgb(254, 0, 0);}
	 10% {color: #fff;}
	 12% {color: #fff;}
	 12% {color: rgb(254, 0, 0);}
	 14% {color: rgb(254, 0, 0);}
	 14% {color: #fff;}
	 16% {color: #fff;}
	 16% {color: rgb(254, 0, 0);}
	 20% {color: rgba(255, 0, 0, 0.9);}
	 55% {opacity: 1;}
	100% {color: rgba(255, 255, 255, 0.8);opacity: 0;margin-top: -65px;}
}

.white #combo {
	color: rgb(0, 0, 255);
	text-shadow: none;
}

#combo>small {
	font-size: 17px;
	font-size: 0.4em;
}


#combo.C {
	font-size: 43px;
    text-shadow: 2px -2px 12px rgba(23, 206, 0, 0.7);
}
#combo.B {
	font-size: 44px;
    text-shadow: 2px -2px 12px rgba(23, 206, 0, 0.7);
}
#combo.A {
	font-size: 44px;
    text-shadow: 2px -2px 15px rgba(23, 206, 0, 0.7);
}
#combo.S {
	font-size: 48px;
    text-shadow: 2px -2px 17px rgba(23, 206, 0, 0.7);
}
#combo.SS {
	font-size: 53px;
    text-shadow: 3px -3px 20px rgb(23, 206, 0);
}


.white #combo.C {
    text-shadow: none;
}
.white #combo.B {
    text-shadow: none;
}
.white #combo.A {
    text-shadow: none;
}
.white #combo.S {
    text-shadow: none;
}
.white #combo.SS {
    text-shadow: none;
}


/* 拡大エフェクト *
#combo.Cbig{
	color: #F8c900;
	font-size: 3.3em;
}
#combo.Bbig{
	color: rgb(255, 87, 0);
	font-size: 3.4em;
}
#combo.Abig {
	color: rgb(255, 87, 0);
    text-shadow: 1px 1px 0px rgb(254, 0, 0);
	font-size: 3.6em;
}
#combo.Sbig {
	color: rgb(255, 8, 16);
	font-size: 3.8em;
}
#combo.SSbig {
	color: rgb(255, 1, 48);
	font-size: 4.2em;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
}
/**/

#keyboard {
	position: absolute;
	width: 515px;
	left: 50%;
	margin-left: -260px;
	border-spacing: 0;
	top: 13px;
	font-size: 14px;
}

#keyboard td {
	border: 0;
	margin-bottom: 1px;
	height: 32px;
}

#keyboard div {
	float: left;
	margin: 1px;
	width: 31px;
	height: 31px;
	text-align: center;
	vertical-align: middle;
	line-height: 31px;
	border-radius: 7px;
	box-shadow: 0px 0px 1px 0px rgb(23, 206, 0);
	background-color: rgba(0, 0, 0, 0);
	color: rgb(23, 186, 0);
}

/* painted */
#keyboard div.painted, #keyboard.onShift div.key_shift {
	/* box-shadow重すぎだからヤメ */
	background-color: rgba(23, 255, 0, 0.6);
	color: #fff;
}

/* box-shadow重すぎだからヤメ *
#keyboard div.paint-off {
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 1, 1);
}
/**/

#keyboard .missed {
    transition-duration: 0s !important;
	background-color: rgba(255, 0, 0, 0.9) !important;
	color: #fff !important;
}


/* white */
#statusBox.white #keyboard div {
	box-shadow: 0px 0px 1px 0px #00f;
	background-color: rgba(0, 0, 0, 0);
	color: #00f;
}

#statusBox.white #keyboard div.painted, #statusBox.white #keyboard.onShift div.key_shift {
	background-color: rgba(0, 0, 255, 0.7);
	color: #fff;
}
#statusBox.white #keyboard div.paint-off {
	background-color: rgba(0, 0, 0, 0);
}

#statusBox.white #keyboard .missed {
	background-color: rgba(255, 0, 0, 0.8) !important;
	color: #fff !important;
}


#keyboard div.homePosition {
	text-decoration: underline;
}

#keyboard div.key_hidden {
	opacity: 0;
}

#keyboard td span:first-child {
	display: none;
}

#keyboard.onShift td span:first-child {
	display: inline !important;
}

#keyboard.onShift td span:last-child {
	display: none !important;
}

#keyboard [data-key="enter"] {
    font-family: "Audiowide","Courier New","Bitstream Vera Sans Mono",Consolas,Courier,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",sans-serif !important;
    font-style: italic;
}
